@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 200 900;
  font-stretch: 50% 200%;
}

body {
  max-width: 40rem;
  margin: auto;
  padding: 0 2rem;
  font-family: Inconsolata, sans-serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-variation-settings: 'wdth' 50, 'wght' 200;
  letter-spacing: 1.4rem;
}

h1 span {
  display: block;
}

/* 
  put line breaks in h1
*/
h1 span::before {
  content: attr(data-text);
  padding: 0 1px;
}

h1 span::after {
  content: attr(data-text);
  padding: 0 1px;
}

h2 {
  text-transform: uppercase;
  margin-top: 2rem;
}

.paragraphs p {
  font-variation-settings: 'wdth' 78, 'wght' 331;
  margin-top: 1.5em;
}

.paragraphs p:last-child {
  margin-bottom: 5em;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: darkgrey;
  padding: 4rem;
  padding-bottom: 0.5rem;
  font-variation-settings: 'wdth' 50, 'wght' 200;
  font-size: 0.8em;
}

.below {
  padding: 1rem;
}

/* @media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
} */

@media screen and (max-width: 80rem) {
  h1 {
    font-size: 4rem;
    font-variation-settings: 'wdth' 60, 'wght' 250;
    letter-spacing: 1.2rem;
  }
}

@media screen and (max-width: 70rem) {
  h1 {
    font-size: 3rem;
    font-variation-settings: 'wdth' 75, 'wght' 300;
    letter-spacing: 0.8rem;
  }
}

@media screen and (max-width: 60rem) {
  h1 {
    font-size: 3rem;
    font-variation-settings: 'wdth' 100, 'wght' 400;
    letter-spacing: 0.6rem;
  }
}

@media screen and (max-width: 48rem) {
  h1 {
    font-size: 1.6rem;
    font-variation-settings: 'wdth' 150, 'wght' 800;
    letter-spacing: 0.4rem;
  }
}
